<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Microsoft Graph Connect</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <!--<link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.css">-->
    <!--<link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.components.css">-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/search2.css">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</head>
<body style="font-family:Calibri;line-height: 24px;">
{{{body}}}
</body>
</html>